{% extends 'base.html' %}

{% block title %}
    <title>Blog -> List</title>
{% endblock %}

{% block content %}
    {% for blog in blogs %}
        {% csrf_token %}
        {% if blog in subscriptions %}
            <a href="{% url 'blogs:detail' pk=blog.id%}">{{ blog.user.username }}</a>
            <button class="unsubscribe" data-blog_id="{{ blog.id }}" id="button_blog_id_{{ blog.id }}">
                unsubscribe
            </button>
            <br>
        {% elif blog.user == user %}
            <a href="{% url 'user:account' %}">{{ blog.user.username }}</a>
            <span>my blog</span>
            <br>
        {% else %}
            <a href="{% url 'blogs:detail' pk=blog.id %}">{{ blog.user.username }}</a>
            <button class="subscribe" data-blog_id="{{ blog.id }}" id="button_blog_id_{{ blog.id }}">
                subscribe
            </button>
            <br>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block js %}
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script>
    $(function () {
        $(document).on('click', '.unsubscribe', function () {
            let blog_id = $(this).data('blog_id');
            let csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
            let span_blog_id = $(`#span_blog_id_${blog_id}`);
            let button_blog_id = $(`#button_blog_id_${blog_id}`)
            $.ajax({
                url: "{% url 'user:subscribe' %}",
                type: "delete",
                dataType: "json",
                headers: {'X-CSRFToken': csrf_token},
                data: JSON.stringify({'blog_id': blog_id}),
                success: function () {
                    button_blog_id.text("subscribe");
                    button_blog_id.removeClass('unsubscribe');
                    button_blog_id.addClass('subscribe');
                }
            })
        })

        $(document).on('click', '.subscribe', function () {
            let blog_id = $(this).data('blog_id');
            let csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
            let span_blog_id = $(`#span_blog_id_${blog_id}`);
            let button_blog_id = $(`#button_blog_id_${blog_id}`)

            $.ajax({
                url: "{% url 'user:subscribe' %}",
                type: "post",
                dataType: "json",
                headers: {'X-CSRFToken': csrf_token},
                data: JSON.stringify({'blog_id': blog_id}),
                success: function () {
                    button_blog_id.text("unsubscribe");
                    button_blog_id.removeClass('subscribe');
                    button_blog_id.addClass('unsubscribe');
                }
            })
        })
    })
    </script>
{% endblock %}