{% extends 'base.html' %}

{% block title %}
    <title>My Account</title>
{% endblock %}

{% block content %}
    <a href="{% url 'user:add-post' %}">Add new post</a><br>
    <h2>My Posts</h2>
    {% for post in posts %}
        <a href="{% url 'blogs:post' pk=post.id %}">{{ post.title }}</a>
        {{ post.date_time }}
        <a href="{% url 'user:update-post' pk=post.id %}">
            <button>update</button>
        </a>
        <a href="{% url 'user:delete-post' pk=post.id %}">
            <button>delete</button>
        </a>
        <br>
    {% endfor %}
{% endblock %}

