{% extends 'base.html' %}

{% block title %}
    <title>News feed</title>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div style="margin-bottom: 40px">
            <a href="{% url 'blogs:post' pk=post.id %}">{{ post.blog.user }}</a>
            <br>
            {{ post.date_time }}
            <br>
            {% if post in read_posts %}
                <a href="{% url 'blogs:post' pk=post.id %}">{{ post.title }}</a> read

            {% else %}
                <a href="{% url 'blogs:post' pk=post.id %}">{{ post.title }}</a>
            {% endif %}
            <br>
            <p>{{ post.text|truncatewords:20 }}</p>
        </div>
    {% endfor %}

{% endblock %}