{% extends 'base.html' %}

{% block title %}
    <title>News feed</title>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div style="margin-bottom: 40px">
            <a href="{% url 'blogs:post' pk=post.id %}">{{ post.blog.user }}</a>
            <br>
            {{ post.date_time }}
            <br>
            {% if post in read_posts %}
                <a href="{% url 'blogs:post' pk=post.id %}">{{ post.title }}</a> read
                <button class="mark_unread" data-post_id="{{ post.id }}" id="read_post_button_{{ post.id }}">
                    mark unread
                </button>
                <br>
            {% else %}
                <a href="{% url 'blogs:post' pk=post.id %}">{{ post.title }}</a>
                <button class="mark_read" data-post_id="{{ post.id }}" id="read_post_button_{{ post.id }}">
                    mark read
                </button>
            {% endif %}
            <br>
            <p>{{ post.text|truncatewords:20 }}</p>
        </div>
    {% endfor %}

{% endblock %}